.wrapper
	form(action="#") 
		input(class="input-Hex-Color" id="inputHexColor" type="text" name="hexColor" placeholder="Введите Hex-код цвета")
		button(class="button-Hex-Color" id="buttonHexColor" type="submit") Ввести
	div(class="container" id="cells") 

