h1 Etch-a-sketch
.wrapper
	
	div(id="settingsColumn")
		form(action="#" autocomplete="off") 
			div(class="palette") Palette:
			input(id="inputHexColor" type="color" name="hexColor" placeholder="Введите Hex-код цвета")
			input(id="sideLength" type="range" min="2" max="64" value="64")
			div(id="sideSizeField") 64x64

		button(id="buttonModeEraser" type="button")
			div 
			p Eraser
			div 

		button(id="buttonModeColor" type="button") Paint mode

	div(id="cells") 



